for i in input
  table
    tr
      th Price
      th Beds
      th Baths
      th SQFT
    tr
      td $#{i.price}
      td #{i.beds}
      td #{i.baths}
      td #{i.sqft}
    tr
      th(colspan="4") Description
    tr
      td(colspan="4") #{i.desc}
    tr
      th(colspan="4") MLS Num
    tr
      td(colspan="4") #{i.mls}
  hr